@model IEnumerable<InforceURLShortner.Models.Url>
@{
    ViewData["Title"] = "Url Shortner";
}

<div class="text-center">
    <h1 class="display-4">Short Url's table</h1>
</div>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create" role="button" class="btn btn-dark btn-lg">Create New</a>
    </p>
}

<table style="width: 100%">
    <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 50%;">
        <col span="1" style="width: 30%;">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">
                <p>Short Url</p>
            </th>
            <th scope="col">
                <p>Full Url</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@item.FullURL">@item.ShortURL</a>
                    </td>
                    <td>
                        <p>@item.FullURL</p>
                    </td>
                    <td>
                        <div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a role="button" class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                @if (User.IsInRole("admin") || User.Identity.Name == item.AuthorLogin)
                                {
                                    <a role="button" class="btn btn-secondary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                }
                                else
                                {
                                    <a class="btn btn-secondary disabled" role="button" aria-disabled="true">Delete</a>
                                }
                            }
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>