@model IEnumerable<InforceURLShortner.Models.Url>
@{
    ViewData["Title"] = "Url Shortner";
}

<div class="text-center">
    <h1 class="display-4">Short Url's table</h1>
</div>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create" role="button" class="btn btn-dark btn-lg">Create New</a>
    </p>
}

<table>
    <thead>
        <tr>
            <div class="col">
                <th scope="col">
                    <p>Short Url</p>
                </th>
            </div>
            <div class="col-6">
                <th scope="col">
                    <p>Full Url</p>
                </th>
            </div>
            <div class="col">
                <th></th>
            </div>
        </tr>
    </thead>
    <tbody>
        @if (Model != null) {
            @foreach (var item in Model)
            {
                <tr>
                    <div class="col">
                        <td>
                            <a href="@item.FullURL">@item.ShortURL</a>
                        </td>
                    </div>
                    <div class="col-6">
                        <td>
                            <p>@item.FullURL</p>
                        </td>
                    </div>
                    <div class="col">
                        <td>
                            <div>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a role="button" class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    @if (User.IsInRole("admin") || User.Identity.Name == item.AuthorLogin)
                                    {
                                        <a role="button" class="btn btn-secondary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-secondary disabled" role="button" aria-disabled="true">Delete</a>
                                    }
                                }
                            </div>
                        </td>
                    </div>
                </tr>
            }
        }
    </tbody>
</table>